.container {
  height: 120vh;
  padding: 0 10% 0 10%;
  background-color: var(--background);
  font-family: 'Nunito', sans-serif;
}

.profileContainer {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.info {
  margin: 1rem 0 0 0;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.infoTitle {
  color: var(--muted);
}

.infoContent {
  font-size: large;
}

.manage {
  color: var(--main);
  cursor: pointer;
  text-align: end;
}

.manage:hover {
  font-weight: bold;
}

.left {
  margin-top: 2rem;
  padding: 1rem;
  height: 100vh;
}

.right {
  margin-top: 2rem;
  padding: 1rem;
  height: 100vh;
}

@media (max-width: 575.98px) {
  .left {
    display: none;
  }
  .balance {
    text-align: center;
  }
  .button {
    margin: 3%;
  }
  .chart {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .left {
    display: none;
  }
  .balance {
    text-align: center;
  }
  .button {
    margin: 3%;
  }
  .chart {
    display: none;
  }
}